.custom-phone-input {
  width: 100%; /* Ensure full width */
}

.custom-phone-input .react-tel-input {
  width: 100%; /* Ensure internal structure respects full width */
  display: flex;
  align-items: center;
}

.custom-phone-input .form-control {
  flex: 1;
  width: 100%; /* Full width for input field */
  border: none;
  outline: none;
  box-shadow: none;
}

.swiper-wrapper {
    height: max-content !important;

    width: max-content;
}

.swiper-button-next,
.swiper-button-prev {
    top: 25%;
    z-index: 1000;
}

.swiper-button-next {
    right: -0px !important;
}

.swiper-button-prev {
    left: 0px !important;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
    content: "" !important;
}

.mySwiper {
    max-width: 320px !important;
    margin: 0 auto !important;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
    content: "" !important;
}

.mySwiper .swiper-slide.swiper-slide-thumb-active>.swiper-slide\:w-16 {
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.mySwiper .swiper-slide.swiper-slide-thumb-active>.swiper-slide\:border-indigo-600 {
    --tw-border-opacity: 1;
    border-color: rgb(79 70 229 / var(--tw-border-opacity));
}

.teamswiper .swiper-wrapper {
    height: max-content !important;
    padding-bottom: 64px !important;
}

.teamswiper .swiper-horizontal>.swiper-scrollbar,
.teamswiper .swiper-scrollbar.swiper-scrollbar-horizontal {
    max-width: 140px !important;
    height: 3px !important;
    bottom: 25px !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
}

.teamswiper .swiper-pagination-fraction {
    bottom: 0 !important;
    padding-top: 16px !important;
}

.teamswiper .swiper-slide.swiper-slide-active>.slide\:border-indigo-600 {
    --tw-border-opacity: 1;
    border-color: rgb(79 70 229 / var(--tw-border-opacity));
}

.teamswiper .swiper-pagination-total {
    color: rgb(156 163 175) !important;
}

.teamswiper .swiper-scrollbar-drag {
    background: rgb(79 70 229);
}

.teamswiper .swiper-pagination-fraction {
    bottom: 0 !important;
}

.teamswiper .swiper-button-prev:after,
.teamswiper .swiper-rtl .swiper-button-next:after {
    content: '' !important;
}

.teamswiper .swiper-button-prev {
    top: 93% !important;
    left: 35% !important;
    z-index: 100 !important;
}

.teamswiper .swiper-button-next {
    top: 93% !important;
    right: 35% !important;
    z-index: 100 !important;
}

.teamswiper .swiper-button-next:after,
.teamswiper .swiper-rtl .swiper-button-prev:after {
    content: '' !important;
}

.teamswiper .swiper-button-next svg,
.teamswiper .swiper-button-prev svg {
    width: 24px !important;
    height: 24px !important;
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  width: 16px !important;
  height: 4px !important;
  border-radius: 5px !important;
  margin: 0 6px !important;
}

.swiper-pagination {
  bottom: 2px !important;
}

.swiper-wrapper {
  height: max-content !important;
  width: max-content !important;
  padding-bottom: 64px;
}

.swiper-pagination-bullet-active {
  background: #4f46e5 !important;
}

.swiper-slide.swiper-slide-active > .slide_active\:border-indigo-600 {
  --tw-border-opacity: 1;
  border-color: rgb(79 70 229 / var(--tw-border-opacity));
}

.swiper-slide.swiper-slide-active > .group .slide_active\:text-gray-800 {
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity));
}
.active{
    padding-bottom: 2px;
    border-bottom: 2px solid rgb(216, 71, 192);
}
.flip-card-container {
    width: 300px;
    height: 400px;
    perspective: 1000px;
  }
  
  .flip-card {
    background-color: transparent;
    width: 100%;
    height: 100%;
    perspective: 1000px;
    margin: 10px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 1rem;
    overflow: hidden;
  }
  
  .flip-card-front {
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .flip-card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
  }
  
  .flip-card-back {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: rotateY(180deg);
  }
  
  