@tailwind base;
@tailwind components;
@tailwind utilities;

/* body{
  margin: 0;
  -webkit-font-smoothing: antiallased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-slate-100;
} */
.react-tel-input {
  width: 100% !important; 
}

.react-tel-input .form-control {
  width: 100% !important;
  padding-left: 90px;
  border: 1px solid #ccc !important; 
}

.react-tel-input .flag-dropdown {
  background-color: #f9f9f9 !important;
}
